extends layout

block content
  h1 Nursery: #{school}
  h1 City: #{city}

  table
    thead

    tbody
      each one in all_classes
        tr
          if one.get('active').value == 1
            td #{one.get('teacher_name').value}
            td #{one.get('min_age').value} - #{one.get('max_age').value}
            td #{one.get('est_enrollment').value}
            td #{one.get('class_year').value} - #{one.get('class_year').value + 1}
            td
              form(action='/class', method='post')

                input(type='submit',value='Choose This Class',data-transition='fade', data-theme='c')
